<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyQuizz"
        tools:targetApi="31">
        <activity
            android:name=".UjianSiswaPkn"
            android:exported="false" />
        <activity
            android:name=".UjianSiswaPjok"
            android:exported="false" />
        <activity
            android:name=".UjianSiswaAgama"
            android:exported="false" />
        <activity
            android:name=".UjianSiswaSbk"
            android:exported="false" />
        <activity
            android:name=".UjianSiswaBing"
            android:exported="false" />
        <activity
            android:name=".UjianSiswaSejarah"
            android:exported="false" />
        <activity
            android:name=".UjianSiswaEkonomi"
            android:exported="false" />
        <activity
            android:name=".UjianSiswaBiologi"
            android:exported="false" />
        <activity
            android:name=".UjianSiswaFisika"
            android:exported="false" />
        <activity
            android:name=".UjianSiswaMtk"
            android:exported="false" />
        <activity
            android:name=".QuizSiswaEkonomi"
            android:exported="false" />
        <activity
            android:name=".QuizSiswaPkn"
            android:exported="false" />
        <activity
            android:name=".QuizSiswaMTK"
            android:exported="false" />
        <activity
            android:name=".QuizSiswaBiologi"
            android:exported="false" />
        <activity
            android:name=".QuizSiswaBindo"
            android:exported="false" />
        <activity
            android:name=".QuizSiswaSbk"
            android:exported="false" />
        <activity
            android:name=".QuizSiswaPjok"
            android:exported="false" />
        <activity
            android:name=".QuizSiswaKimia"
            android:exported="false" />
        <activity
            android:name=".QuizSiswaBing"
            android:exported="false" />
        <activity
            android:name=".QuizSiswaAgama"
            android:exported="false" />
        <activity
            android:name=".QuizPbo"
            android:exported="false" />
        <activity
            android:name=".QuizDiskrit"
            android:exported="false" />
        <activity
            android:name=".UjianPBO"
            android:exported="false" />
        <activity
            android:name=".QuizMtk"
            android:exported="false" />
        <activity
            android:name=".UjianMTK"
            android:exported="false" />
        <activity
            android:name=".UjianDiskrit"
            android:exported="false" />
        <activity
            android:name=".MenuMahasiswa"
            android:exported="false" />
        <activity
            android:name=".NilaiMahasiswa"
            android:exported="false" />
        <activity
            android:name=".PilihUjianMahasiswa"
            android:exported="false" />
        <activity
            android:name=".PilihQuizMahasiswa"
            android:exported="false" />
        <activity
            android:name=".Pengembang"
            android:exported="false" />
        <activity
            android:name=".UjianBindo"
            android:exported="false" />
        <activity
            android:name=".QuizSejarah"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".PilihQuiz"
            android:exported="false" />
        <activity
            android:name=".QuizKimia"
            android:exported="false" />
        <activity
            android:name=".Warning"
            android:exported="false" />
        <activity
            android:name=".Nilai"
            android:exported="false" />
        <activity
            android:name=".Ujian"
            android:exported="false" />
        <activity
            android:name=".Quiz"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>